$text: #000000;
$Azul: #010A67;






@keyframes left2 {
    0% {

    }
    100% {
        transform: translateX(-22vw);
    }
}
@keyframes left21 {
    from {
        transform: translateX(-22vw);
    }
    to {
        transform: translateX(0vw);
    }
}
@keyframes left3 {
    0% {

    }
    50% {
        transform: translateX(-22vw);
    }
    51% {
        transform: translateX(-24vw);
    }
    52% {
        transform: translateX(-28vw);
    }
    100% {
        transform: translateX(-47vw);
    }
}
@keyframes left31 {
    from {
        transform: translateX(-47vw);
    }
    50% {
        transform: translateX(0vw);
    }
    // 51% {
    //     transform: translateX(24vw);
    // }
    // 52% {
    //     transform: translateX(28vw);
    // }
    100% {
        transform: translateX(0vw);
    }
}
@keyframes slideRight{
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0vw);
    }
}



















html,body {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: 'Cormorant Garamond', serif;
    color: $text;
    input:focus, textarea:focus, select:focus {
        outline: none;
    }
    & a{
        text-decoration: none;
    }
    

}

.sticky {
    height: 75px;
    width: 100vw;
    // background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo {
        & img {
            margin-left: 10vw;
            height: 75px;
        }
    }
    &_icky {
        
        & ul{ 
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            & li {
                margin-right: 5vw;
            }
        }
    }
}
.intro {
    height: 48.56vw;
    background-image: url(../resources/introBackground.png);
    background-size: cover;
    // margin-top: -5.98958333333vw;
    &_text {
        // background-color: blue;
        width: 66.1458333333vw;
        height: 31.25vw;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1vw;
        color: white;
        &_logo1 {
            // background-color: blue;
            font-family: dual300;
            font-size: 5vw;
            font-weight: normal;
            display: flex;
            justify-content: center;
            margin-top: 10vw;
        }
        &_logo2 {
            font-family: allura;
            display: flex;
            font-weight: normal;
            justify-content: center;
            font-size: 6vw;
            margin-top: -5vw;
        }
        &_text {
            // background-color: blue;
            margin-left: 8vw;
            margin-top: -4vw;
            width: 49.21875vw;
            
            font-weight: normal;
            &_text {
                font-size: 1.75vw;
            }
            &_txt {
                margin-top: 2vw;
                font-size: 1vw;
            }
        }
    }
}

.sectionDiv {
    background-color: $Azul;
    height: 22vw;
    padding-top: .1vw;
    &_d1 {
        // background-image: url(../resources/drawer/drawerL1.png);
        // background-repeat: no-repeat;
        & img {
            width: 44.9vw;
        }
        height: 7vw;
        margin-top: 15.5vw;
    }
    &_d2 {
        // background-repeat: no-repeat;
        // background-image: url(../resources/drawer/drawerL2.png);
        margin-top: -4.5vw;
        margin-left: 10.5vw;
        & img {
            width: 56.6vw;
        }

    }
    &_d3 {
        // background-repeat: no-repeat;
        // background-image: url(../resources/drawer/DrawerL3.png);
        & img {
            width: 79vw;
        }
        margin-top: -19.1vw;
        margin-left: 20vw;
    }
}

.kitchCab {
    height: 37.5vw;
    background-size: contain;
    background-repeat: no-repeat;
    &_poly{
        height: 37.25vw;
        margin-top: -37.55vw;
        & img {
            height: 37.25vw;
        }
        background-size: contain;
        background-repeat: no-repeat;
        // background-image: url(../resources/polyL.png);
        // margin-left: 20vw;
    }
}